@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';
@tailwind base;
@tailwind components;
@tailwind utilities;


.heroSection {
  @apply h-80 w-full bg-gray-200 flex justify-center items-center bg-cover bg-center;
}
.txtArea {
  @apply max-w-4xl mx-auto my-8 px-4 text-lg leading-relaxed text-white;
}

.heroCaption {
  @apply text-6xl font-bold text-white px-4 py-2 rounded;
}